{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            <fieldset class="form-group">
                <legend class = "border-bottom mb-4">Delete Student</legend>

                <div class="form-group">
                    {{form.lname.label(class="form-control-label") }}
                    {{ form.lname(class="form-control form-control-lg") }}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-infor") }}
            </div>
        </form>
    </div>
{% endblock content %}